body {
  padding-top: 85px;
}

/* NAV BAR */

.navbar-brand img {
  width: 111px;
  margin-top: -11px;
}

.jumbotron.home{
  background-image: url('/img/bg_hero.jpg');
  background-position-y: center;
  background-size: 91%;
}
