body {
  padding-top: 70px;
}

/* NAV BAR */

.navbar-brand img {
  width: 220px;
}
button img{
  width: 50px;
}

.jumbotron.home{
  background-image: url('/img/bg_hero.jpg');
  background-position-y: center;
  background-size: 91%;
}
.logo   {
  max-width: 80px;

}
#viajes
{
border-style: outset;
padding: 5px;
margin-top: 10px;

}
#viajes ul li{
  list-style:none;
}

#dropdown-orden{
  margin-top: 10px;
}
#partida{
margin-top: 10px;  
}
